*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
   display: inline-block;
   list-style: none; 
   font-style: initial;
}
nav ul li{
    display: inline-block;
    margin-right: 23px;
}

a{
    text-decoration: none;
    color:rgb(54, 54, 54);
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 50px;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}
.col-2 h1{
    font-size: 30px;
    line-height: 50px;
    margin: 25px 0;
    color: #555555;
}
.btn{
    display: inline-block;
    background: #ee3b50;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:hover{
    background: #fd8383;
}
.header{
    background: linear-gradient(#ffffff,#E2E2E2);   
}
.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555555;
}

.title::after{
    content:'';
    background:#ee705f;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rating .fa{
    color: #ff523b;
}

h4{
    color:#555555;
    font-weight: normal; 
}
.col-4 p{
    font-size: 15px;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* zoom san pham moi nhat*/
.zoom{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.zoom img{
    width: 100%;
    border-radius: 10%;
}
.zoom:hover{
    transform: scale(1.1);
}

.brands{
    margin: 50px 400px;
}

.col-5{
    width: 80px;
}

.col-5 img{
    width: 100%;
}

.footer{
    background: rgb(212, 211, 211);
    color: #555555;
    font-size: 16px;
    padding: 50px 0 20px;
}
.footer img{
    width: auto;
    margin-left: 25px;
}
.footer-col-1,.footer-col-2,.footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-2,.footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.footer hr{
    border: none;
    background: #979696;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
/* phan san pham */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px
}
select{
    border:1px solid #ff523b;
    padding: 5px
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}
/* chi tiet san pham */
.col-6{
    flex-basis: 50%;
    min-width: 300px;
}

.col-6 img{
    max-width: 100%;
    padding: 50px 50px;
}
.single-product{
    margin-top: 80px;
}
.single-product.col-6 img{
    padding: 0;
}
.single-product.col-6{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 50%;
    cursor: pointer;
}
/* cart */
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    color: #fff;
    background: #f35d64;
    font-weight: normal;
    font-size: 20px;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #f1607d;
    font-size: 20px;
    padding-left: 10px;
}
td img{
    width: 150px;
    height: auto;
}
td small{
    font-size: 20px;
    padding-left: 10px;
}
td p{
    font-size: 20px;
    padding-left: 10px;
}
/* login */
.form-container{
    background: rgb(255, 255, 255);
    width: 300px;
    height: 240px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    border-radius: 15px;
    
}
.form-container span{
    font-weight: bold;
    color: #555555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 30px;
    position: absolute;
    top: 80px 
}
form input{
    width: 100%;
    height: 30px;
    margin: 0 10px;
    border: 1px solid #cccccc;
}
form .btn{
    width: 100%;
    border: none;
    margin: 30px 10px;
}
form .btn:focus{
    outline: none;
}
#loginform{
    left: 0px;
}
form a{
    font-size: 18px;
}

.search-box{
    position: absolute;
    top: 100px;
    left: 38%;
    transform: translate(-50%,-50%);
    background: #ee3b50;
    height: 42px;
    border-radius: 20px;
    padding: 10px;
}

.search-btn{
    color: #ffffff;
    float: right;
    width: 40px;
    height: 40px;
    padding-bottom: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* login */
form {
    border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
 button {
    background-color: #ee3b50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
button:hover {
    opacity: 0.8;
  }
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #6d6d6d;
  }
.signupbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #2e6dcc;
  }  
.container {
    padding: 16px;
  }
.container button a{
    color: white;
    font-size: 15px;
}  
/* signup */